.boardWrapper {
    padding: 16px;
    margin: 0 auto;
    border: 1px solid var(--secondary-color);
    border-radius: 6px;
}
.searchBar {
    margin: 16px;
}
.searchBox {
    padding: 12px;
    width: 100%;
    border: 1px solid var(--secondary-color);
    border-radius: 6px;
}
.searchBox:focus {
    outline: none;
    border-color: var(--primary-color);
}
.searchOption {
    padding: 6px 0;
}
.tableWrapper {
    margin: 28px 16px;
}
.productTable {
    width: 100%;
    background-color: var(--table-color);
    border-collapse: collapse;
    text-align: left;
}
.headerRow {
    height: 48px;
}
.headerRow, .categoryRow, .productRow {
    padding: 12px;
    border-bottom: 1px solid var(--table-border);
}
.categoryRow {
    background-color: var(--table-header);
}

@media only screen and (min-width: 768px) {
    .boardWrapper {
        width: 700px;
        height: 100%;
    }
}
