.boardWrapper {
    padding: 1rem;
    margin: 0 auto;
    border: 1px solid var(--secondary-color);
    border-radius: 0.5rem;
}
.searchBar {
    margin: 1rem;
}
.searchBox {
    padding: 0.75rem;
    width: 100%;
    border: 1px solid var(--secondary-color);
    border-radius: 0.5rem;
}
.searchBox:focus {
    outline: none;
    border-color: var(--primary-color);
}
.searchOption {
    padding: 0.5rem 0;
}
.tableWrapper {
    margin: 1.75rem 1rem;
}
.productTable {
    width: 100%;
    background-color: var(--table-color);
    border-collapse: collapse;
    text-align: left;
}
.nameCol {
    width: 60%;
}
.priceCol {
    width: 40%;
}
.headerRow {
    height: 3rem;
}
.headerRow, .categoryRow, .productRow {
    padding: 0.75rem;
    border-bottom: 1px solid var(--table-border);
}
.categoryRow {
    background-color: var(--table-header);
}
.outOfStock {
    color: var(--disabled-text);
}

@media only screen and (min-width: 768px) {
    .boardWrapper {
        width: 40rem;
        height: 100%;
    }
}
